# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.SmallMLTasks/
venv/
env/

# Datasets
datasets/
*.tgz
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
